body,html{
    font-family: "Raleway";
    font-weight: 400;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    background-color: white;
    margin: 0;
}

button:focus {outline:0;}
input:focus {outline:0;}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select,
  textarea,
  input {
    font-size: 18px !important;
  }
}

::placeholder{
    color: rgb(200,200,200);
}

::selection {
    background: rgb(200,200,200); /* WebKit/Blink Browsers */
    color: white;
}

.button{
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid black;
    cursor: pointer;
    overflow: hidden;
    z-index: 20;
}


#messages{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 800px;
    max-width: 90%;
}

#messages p{
    width: 100% !important;
    text-align: center;
}

#messages .id {
    margin: 0;
    font-size: 16px;
    text-align: center;
    color: rgb(200,200,200);
}

#messages .message{
    margin-top: 15px;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
}

#messages .message:nth-child(1) {
    font-size: 30px;
    line-height: 70px;
    text-align: center;
}

#icon {
    position: absolute;
    top: 30px;
    left: 20px;
    width: 50px;
}

#icon p{
    width: 100%;
    font-size: 16px;
    text-align: center;
    margin: 0;
    z-index: 1;
}

#icon img{
    width: 50px;
    transform: translateY(-10px);
    width: 100%;
    background-color: white;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    opacity: 1;
    transition: 0.2s linear;
}

#icon:hover > img{
    opacity: 0;
}

#recordButton {
    position: absolute;
    bottom: 30px;
    left: 20px;
    overflow: hidden;
}

.status{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    border: none;
    transform: translate(-50%,-50%) rotate(0);
    overflow: hidden;
}

#inactiveStatus{
    cursor: pointer;
    z-index: 2;
    padding: 10px;
    background-color: white;
}

#inactiveStatus img{
    width: 100%;
    height: 100%;
}

#inactiveStatus:hover img{
    content: url("../images/microphone-1.png");
}

#activeStatus{
    z-index: 1;
    width: 80%;
    height: 80%;
}

@keyframes rotate360 {
  to { transform: translate(-50%,-50%) rotate(360deg); }
}

#status {
    z-index: 1;
    width: 100%;
    height: 100%;
}

form {
    position: absolute;
    left: 50%;
    bottom: 30px;
    width: 500px;
    max-width: 95%;
    transform: translateX(-50%);
}

form input {
    width: 100%;
    height: 45px;
    text-align: center;
    border: 2px solid black;
    border-radius: 2px;
}

input[type="text"]
{
    font-family: "Raleway";
    font-size: 18px;
}

@media screen and (max-width: 768px){

    form {
        bottom: 5px;
    }

    form input{
        border-radius: 0px;
        border: none;
        border-bottom: 2px solid black;
    }

    #messages .message{
        margin-top: 10px;
        font-size: 16px;
        line-height: 30px;
    }

    #messages .message:nth-child(1) {
        font-size: 20px;
        line-height: 30px;
    }

    #recordButton{
        top: 30px;
        right: 20px;
        left: auto;
        bottom: auto;
        /*border: none;*/
    }

    #mh_link{
        right: auto;
        left: 50%;
        transform: translateX(-50%) scale(1) !important;
    }

    .pop_animation {
        animation: animationMobile 600ms linear both !important;
    }

    #icon{
        display: none;
    }
}

#cameraModeButton {
    position: absolute;
    top: 30px;
    left: 20px;
    z-index: 10;
}

#cameraModeButton img{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
}

#cameraMode{
    position: relative;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#capture{
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    width: 90px;
    height: 90px;
    z-index: 3;
    border-radius: 50%;
    border: 2px solid;
    font-family: "Raleway";
    font-size: 16;
    background-color: white;
}

video {
    width: auto;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

canvas {
    z-index: 2;
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#img{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: auto;
}

#mh_link{
    position: absolute;
    right: 20px;
    top: 30px;
    transform: scale(1);
}

#mh_link img{
    width: 50px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#mh_link > p{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #AA9560;
    font-size: 12;
}

#mh_link > p:first-child{
    top: -2px;
}

#mh_link > p:last-child{
    bottom: -2px;
}


/*MAURITSHUIS LINK ANIMATION*/
.pop_animation {
    animation: animation 600ms linear both;
}

@-webkit-keyframes animation { 
  0% { transform: scale(1);}
  40% { transform: scale(0.8);}
  60% { transform: scale(1.2);} 
  100% { transform: scale(1);} 
}

