<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Raleway -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <div id="messages">
        <p class="id">Visitor</p>
        <p class="message" id="visitor_message"> - </p>
        <p class="id">Museum Docent</p>
        <p class="message" id="assistant_message"> - </p>
    </div>

    <form autocomplete="off"><input placeholder="Write to the Museum Docent" autocomplete="false" type="text" x-webkit-speech></form>
    
    <a id="mh_link" target="_blank" href="https://www.mauritshuis.nl/en/visit/plan-your-visit/mauritshuis-tour/" class="button">
        <p>Existing</p>
        <img src="">
        <p>Apps</p>
    </a>

    <div id="cameraMode">
        <button id="captureButtonReal" class="captureButton">Capture</button>
        <video id="video"></video>

        <canvas id="canvas"></canvas>
        <img id="img" alt="The img with object boxes will appear here.">
    </div>

    <a id="cameraModeButton" class="button cameraButton">
        <!-- <p style='text-align: center'>Camera</p> -->
        <img src="">
    </a>

    <div id="cameraDemo">
        <img id="demoImg" src="">
        <canvas id="demoCanvas"></canvas>
        <button id="captureButtonFake" class="captureButton">Capture</button>
        <img id="monkeyImg" src="">
    </div>

    <a id="cameraModeButtonDemo" class="button cameraButton">
        <!-- <p style='text-align: center'>Camera</p> -->
        <img src="">
        <p>Demo</p>
    </a>

    <!--<button id="testConversation">CLICK ME</button>-->

    <div id="recordButton" class="button">
        <button id="inactiveStatus" class="status" onclick="record()"><img src=""></button>
        <img id="activeStatus" class="status" src=""></img>
    </div>

    <p id="paintspot">PaintSpot</p>

    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.responsivevoice.org/responsivevoice.js"></script>
    <!-- <script src="{{ url_for('static', filename='js/lodash.core.js') }}"></script> -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bounce.min.js') }}"></script>

</body>
</html>